@use './variables';

.btn-rak-primary {
  background-color: $blue-fire-rak;
  color: $white-rak;
  border-radius: 1px;
  font-family: $font-family-open;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border: 0;
  padding: 0.625rem 0.5rem;

  &:disabled {
    background-color: $christmas-silver-rak !important;
    color: $white-rak !important;
  }
}
.btn-rak-secondary {
  background-color: $christmas-silver-rak;
  color: $black-rak;
  height: 32px;
  border-radius: 16px;
  font-family: $font-family-inter;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
  border: 0;
  &.active {
    background-color: $winters-day;
    color: $vanadyl-blue;
  }
}

.btn-display-search {
  position: absolute;
  background: $bg-search;
  border: none;
  top: 3.5625rem;
  z-index: 999;
  width: 7rem;
  height: 2.5rem;
  padding: 0.25rem 0.75rem;
  left: 0.5rem;
  border-radius: 0.9375rem;
  font-family: $font-family-open;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  color: $color-search;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-only(md) {
    top: 4.2rem;
  }

  :hover,
  .active,
  :active {
    background: $bg-search-hover;
    color: $color-search;
    border: none;
  }

  > .search-icon {
    color: $body-color;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 0.3rem;
  }
}

.btn-display-strategy {
  position: fixed;
  background: $bg-search;
  border: none;
  bottom: 4rem;
  z-index: 9999;
  width: 9rem;
  height: 2.5rem;
  padding: 0.25rem 0.75rem;
  right: 0.5rem;
  border-radius: 0.9375rem;
  font-family: $font-family-open;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  color: $btn-carte;
  display: flex;
  align-items: center;
  justify-content: center;

  &.selected-mobile {
    bottom: 14.2rem !important;

    &.selected-strategy {
      bottom: 17.5rem !important;
    }
  }

  &.btn-list {
    bottom: 4rem;
  }

  @include media-breakpoint-only(md) {
    right: 1rem;
  }

  :hover,
  .active,
  :active {
    background: $bg-search-hover;
    color: $btn-carte;
    border: none;
  }

  > .search-icon {
    fill: $btn-carte;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 0.3rem;
  }
}
