.search-text {
  @include format-text($font-family-open, 0.8125rem, 16px, $lead-rak);
}
.show {
  display: block;
}
.hide {
  display: none;
}
.row {
  @include media-breakpoint-down(sm) {
  --bs-gutter-x: 0;
  }
}
.indicator-text {
  @include format-text($font-family-inter, 0.8125rem, 0.6875rem, $black-rak);

  @include media-breakpoint-down(md) {
    @include format-text($font-family-inter, 0.625rem, 0.6875rem, $black-rak);
  }
  @include media-breakpoint-down(sm) {
    @include format-text($font-family-inter, 0.6rem, 0.6rem, $black-rak);
  }
}

.fst-italic {
  @include media-breakpoint-down(sm) {
    @include format-text($font-family-inter, 0.62rem, 0.6rem, $black-rak);
  }
}

.item-strategy {
  margin: 0 1.1875rem 0 1.1875rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-bottom: 3px solid var(--rak-rgba-blackMana);

  &:last-child {
    border-bottom: none;
  }

  &:hover,
  &.active {
    background-color: var(--rak-wintersDay);
    opacity: 1;
  }

  @include media-breakpoint-down(sm) {
    margin: 0 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.strategy-row {
  .flex-item-1,
  .flex-item-2 {
    @include media-breakpoint-down(md) {
    }
  }
}

.collapse:not(.show) {
  display: contents;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}
.blue-text-rak {
  color: var(--rak-palette-atmosphere);
  font-weight: 800;
}
.svg-icon-marker {
  cursor: pointer;
}