.search-text {
  @include format-text($font-family-open, 0.8125rem, 16px, $lead-rak);
}
.show {
  display: block;
}
.hide {
  display: none;
}
.indicator-text {
  @include format-text($font-family-inter, 0.8125rem, 0.6875rem, $black-rak);

  @include media-breakpoint-down(md) {
    @include format-text($font-family-inter, 0.625rem, 0.6875rem, $black-rak);
  }
}

.item-strategy {
  margin: 0 1.1875rem 0 1.1875rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;

  @include media-breakpoint-down(sm) {
    margin: 0 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.strategy-row {
  .flex-item-1, .flex-item-2{
    @include media-breakpoint-down(md) {
      
    }
  }
  
}

.collapse:not(.show) {
  display: contents;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}
.blue-text-rak {
  color: var(--rak-palette-atmosphere);
  font-weight: 800;
}
